.app {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    .scroll-btn {
        position: fixed;
        right: 30px;
        bottom: 10px;
        background-color: var(--primary-color);
        border: 5px solid var(--white-color);
        padding: 10px 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        animation: grow 1s infinite;
        cursor: pointer;

        .scroll-icon {
            color: var(--white-color);
        }
    }
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
