.add-post {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    h1 {
        font-size: 3rem;
    }
    form {
        width: 100%;
        .input-wrapper {
            display: flex;
            gap: 10px;
            width: 100%;
            margin-bottom: 20px;
        }
        .input-image-wrapper {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 4px dotted #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
        button {
            width: 100%;
            padding: 20px;
            font-weight: bold;
        }
    }
}
